body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myCanvas {
  /* position: relative; */
  /* top: 50%; */
  /* left: 50%;
  transform: translateX(-50%); */

  /* width: 520px;
  height: 290px; */
  background: #e3fcef;
}
